@page {
    size: A5;
    margin: 1rem 2rem;
}

@font-face {
    font-family: BlackadderITC;
    src: url("../assets/fonts/blackadderitc_regular.ttf");
}

@font-face {
    font-family: Thesignature;
    src: url("../assets/fonts/Thesignature.ttf");
}

@font-face {
    font-family: CaslonAntique;
    src: url("../assets/fonts/CaslonAntique.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: CaslonAntique;
    src: url("../assets/fonts/CaslonAntique-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: CaslonAntique;
    src: url("../assets/fonts/CaslonAntique-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: CaslonAntique;
    src: url("../assets/fonts/CaslonAntique-Italic.ttf");
    font-weight: normal;
    font-style: italic;
}

body {
    font-family: CaslonAntique !important;
    font-size: 16px;
    padding: 20px;
    margin: 0;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    margin: 0;
}

h2 {
    margin-top: 0;
    font-weight: normal;
    font-size: 1.25em;
}

p {
    font-family: CaslonAntique !important;
    margin: 0;
}

h1, h2, h3 {
    font-family: BlackadderITC;
}

.title{
    display: flex;
    align-items: baseline;
    margin-top: 2rem;
    margin-bottom: 0rem;
}

/* .vocal-component {
    font-family: Thesignature !important;
    font-size: 2.2rem;
    font-weight: normal;
    color: rgb(109, 109, 109);
    rotate: -8deg;
    transform: translateX(-3.4rem) translateY(1.8rem);
} */

.vocal-component {
    font-family: Thesignature !important;
    font-size: 2.2rem;
    font-weight: normal;
    color: rgb(109, 109, 109);
    transform: translateX(1rem) translateY(-1rem) rotate(-8deg);
}

.subtitle {
    display: flex;
    align-items: center;
    margin: 0;
}

.summary {
    margin-top: 0.5rem;
    font-size: 1em;
}

.summary > p {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

footer {
    bottom: 1rem;
    right: 1rem;
    position: absolute;
    font-style: italic;
    color: gray;
    font-size: 0.6em;
}